html,body {
	height:100%;
	width:100%;
}
* {
	outline-color:-moz-use-text-color;
	outline-width:0pt;
	outline-style:none;
}
html,body,applet,object,iframe,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,a img,ins,kbd,q,s,samp,span,small,strike,strong,tt,var,b,u,i,center,div,dt,dl,dd,fieldset,form,label,legend,caption,tbody {
	border:0pt none;
	margin:0pt;
	padding:0pt;
	background:transparent none repeat scroll 0% 0%;
	line-height:inferit
}
small {
	font-size:0.85em;
}
big {
	font-size:1.2em;
}
sup {
	font-size:0.5em;
	position:relative;
	bottom:0.6em;
	vertical-align:baseline;
}
sub {
	font-size:0.5em;
	position:relative;
	bottom:-0.2em;
	vertical-align:baseline;
}
acronym,abbr {
	cursor:help;
	letter-spacing:1px;
	border-bottom:1px dotted;
}
ins {
	height:16px;
	width:16px;
	overflow:hidden;
	position:absolute;
	background-repeat:no-repeat;
}
body {
	font:12px/1.4 Tahoma, Helvetica, sans-serif;
	color:#333333;
	font-size-adjust:none;
	font-stretch:normal;
	font-stretch:normal;
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-inline-policy:continuous;
	position: relative;
	background:#fff;
}
div.clear {
	clear:both;
	font-size:0;
	line-height:0;
	height:0;
}
div.hidden {
	display: none;
}

/*HTML5*/
mark { background:#ff0; color:#000; font-style:italic; font-weight:bold; }
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; }
q { quotes:none; }
q:before, q:after { content:""; content:none; }
svg:not(:root) { overflow:hidden;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio[controls], canvas, video { display:inline-block; *display:inline; *zoom:1; }
abbr[title] { border-bottom:1px dotted; }
svg:not(:root) { overflow:hidden;}
figure { margin:0; }
fieldset { border:0; margin:0; padding:0; }
legend { border:0; *margin-left:-7px; padding:0; }