.braen {font-size:10px; color:#F00;}
.pascal {font-weight:bold}

@font-face {
    font-family: 'PFDinTextCondPro-b';
    src: url('fonts/PFD/PFDinTextCondPro-Medium.eot');
    src: local('O'),
    url('fonts/PFD/PFDinTextCondPro-Medium.woff') format('woff'),
    url('fonts/PFD/PFDinTextCondPro-Medium.ttf') format('truetype'),
    url('fonts/PFD/PFDinTextCondPro-Medium.svg#webfont30G9S4nm') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('fonts/PFD/PFDinTextCondPro-Light.eot');
    src: local('O'),
    url('fonts/PFD/PFDinTextCondPro-Light.woff') format('woff'),
    url('fonts/PFD/PFDinTextCondPro-Light.ttf') format('truetype'),
    url('fonts/PFD/PFDinTextCondPro-Light.svg#webfont30G9S4nm') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'DinDisplayPro-Reg';
    src: url('fonts/DIN/DinDisplayPro-Reg.eot');
    src: url('fonts/DIN/DinDisplayPro-Reg.eot?#iefix') format('embedded-opentype'),
         url('fonts/DIN/DinDisplayPro-Reg.woff') format('woff'),
         url('fonts/DIN/DinDisplayPro-Reg.ttf') format('truetype'),
         url('fonts/DIN/DinDisplayPro-Reg.svg#DinDisplayPro-Reg') format('svg');
}
/* Шапка! */
.wrap {overflow:hidden; position:relative; margin:0 auto; padding: 0 10px 0 10px; width:1000px;}
.container {position:relative; height:100%; height:auto!important; min-height:100%;}
    .header {min-height:102px; background:url('images/css/header-bg.png') repeat-x; font:17px PFDinTextCondPro-b, Arial; position:relative; z-index:10000;}
        .header.fixed {position:fixed; display:block; top:0; left:0; width:100%;}
            .header .wrap {min-height:102px; width:1000px;}
                .h_menu-left {width:368px; margin:36px 0 0 0; overflow:hidden; text-transform:uppercase; text-align: justify;}
                .h_menu-left {*width:387px;}
                        .h_menu-left li {padding:0; margin:0; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline;}
                        .h_menu-left li {*margin:0 16px 0 0;}
                        .h_menu-left li:last-child {margin:0;}
                        .h_menu-left li.helper {height:0; visibility: hidden; width: 100%;}
                            .h_menu-left a {color:#333;}
                .wrp_h_owner {width:237px; height:94px; margin-left:-118px; left:50%; position:absolute; background:url('images/css/header-owner.png') 0 0 no-repeat #1f89bb;}
                    .h_owner {width:236px; height:93px; border-left:1px solid #dfe8ed; border-right:1px solid #dfe8ed;}
                .h_menu-right {width:370px; margin:36px 0 0 0; overflow:hidden; text-transform:uppercase; float:right; text-align: justify;}
                        .h_menu-right li {padding:0; margin:0; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline;}
                        .h_menu-right li {*margin:0 16px 0 0;}
                        .h_menu-right li:last-child {margin:0;}
                        .h_menu-right li.helper {height:0; visibility: hidden; width: 100%;}
                            .h_menu-right a {color:#333;}
/* end шапка! */
/* Индекс! */
    .content {padding-bottom:70px;}
        .content .wrap.event {overflow:visible; margin-top:14px;}
        .rightside {width:331px; float:right; margin:8px 0 50px 0;}
            .advice {width:277px; padding:23px 32px 5px 21px; background:#f0f5f8; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-shadow:1px 1px 1px rgba(232, 237, 239, 0.8); -moz-box-shadow:1px 1px 1px rgba(232, 237, 239, 0.8); box-shadow:1px 1px 1px rgba(232, 237, 239, 0.8); border:1px solid #c1d4de;}
            .advice {*padding-bottom:20px;}
            .advice .head {width:235px;}
                .advice .head dt {float:left;}
                .advice .head dd {margin-left:120px; width:112px; font:27px 'PFDinTextCondPro', 'Arial Narrow', 'Arial';}
                    .advice .head dd a {color:#010101; padding-bottom:-10px; text-decoration:none; font-family:'PFDinTextCondPro-b', 'Arial Narrow', 'Arial';}
                    .advice .head dd a:hover {border-bottom:1px solid #b4b8ba; text-decoration:none;}
                    .advice .head dd div {display:block; margin-top:5px;}
                .news_views {margin-top:8px;}
                .news_views {*margin-top:10px;}
                    .news_views {margin-top:11px\9;}
                    .news_views .view {font:15px 'Arial'; margin-bottom:16px;}
                        .news_views .view a {color:#0075b8; text-decoration:none;}
                        .news_views .view a:hover {text-decoration:underline;}
                        .news_views .view span {display:block; font:11px 'Arial'; color:#777; margin-top:4px;}
            .fond-main {height:262px; margin-top:41px;}
                .fond {text-align:center; width:333px;}
                    .fond .send {width:229px; height:34px; margin:6px auto 66px auto; background:url('images/ico/button_send_in_fond.png') no-repeat;}
                        .fond .send a {display:block; text-decoration:none; text-shadow: 1px 1px 1px rgba(15, 198, 0, 1); padding:3px 0 0 0; color:#FFF; height:33px; font:22px 'PFDinTextCondPro-b', 'Arial Narrow', 'Arial';}
                        .fond .send a:hover {text-decoration:underline;}
                        /*.fond .send a:active {color:#21e87a;}*/
                    .fond dl {background:url('images/css/fond-border.png') 0 100% no-repeat; height:65px;}
                        .fond dt {float:right; padding:6px 19px 0 14px;}
                            .fond dt img {margin-left:17px; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline;}
                        .fond dd {width:167px; font:22px 'PFDinTextCondPro', 'Arial Narrow', 'Arial'; float:left; text-align:left;}
        .strip_news {float:left; width:642px;}
            .strip_news dl {margin:0; padding:0;}
            .strip_news dt {float:left; margin:4px 0 0 0;}
            .strip_news dd {margin:0 0 0 41px; padding:0; display:block;}
                .strip_news dd span {font:24px 'PFDinTextCondPro-b', 'Arial Narrow', 'Arial'; text-transform:uppercase; border-bottom:2px solid #333; padding-right:442px;}
            .strip_news .body {width:597px; border:1px solid #dde6ec; margin:14px 0 50px 0; padding:15px 19px 0 23px; -webkit-box-shadow: 7px 7px 5px rgba(230, 237, 242, 0.75); -moz-box-shadow:7px 7px 5px rgba(230, 237, 242, 0.75); box-shadow:7px 7px 5px rgba(230, 237, 242, 0.75);}
                .top_news {font:15px 'PFDinTextCondPro', 'Arial Narrow', 'Arial'; margin-bottom:28px;}
                    .top_news .tdate {color:#838c94; margin-bottom:4px; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline;}
                    .top_news .ttag {color:#7da87a; margin-left:12px; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline;}
                        .top_news .ttag a {color:#7da87a; text-decoration:underline;}
                        .top_news .ttag a:hover {text-decoration:none;}
                    .top_news .title {margin:0 0 3px 3px; font:24px 'PFDinTextCondPro', 'Arial Narrow', 'Arial';}
                    .top_news .photo {width:596px; height:205px; text-align:center; background:url('images/css/top_news-photo-bg.png') no-repeat;}
                        .top_news .photo img {width:589px; height:198px; margin:3px auto 0 1px;}
                    .top_news .text {width:589px; font:16px 'DinDisplayPro-Reg', 'Arial Narrow', 'Arial'; margin:10px 0 0 4px; padding-bottom:14px;  line-height:17px; background:url('images/css/top-news_border-bottom.png') 0 100% no-repeat #FFF;}
                .other_news {}
                    .other_news .item {width:276px; float:left; margin-left:45px;}
                    .other_news .item:first-child {margin:0;}
                        .other_news .item .odate {color:#838c94; font:13px 'Helvetica', 'Arial'; margin:0 12px 2px 0; float:left;}
                        .other_news .item .otag {color:#7da87a; font:15px 'PFDinTextCondPro', 'Arial Narrow', 'Arial';}
                            .other_news .item .otag a {color:#7da87a; text-decoration:underline;}
                            .other_news .item .otag a:hover {text-decoration:none;}
                        .other_news .item .title {margin-bottom:6px; font:20px 'PFDinTextCondPro', 'Arial Narrow', 'Arial';}
                            .other_news .item .title a {line-height:22px;}
                        .other_news .item .photo {width:276px; height:179px; background:url('images/css/other_news-photo-bg.png') no-repeat;}
                            .other_news .item .photo img {width:271px; height:174px; margin-left:1px;}
                        .other_news .item .text {width:273px; font:16px 'DinDisplayPro-Reg', 'Arial Narrow', 'Arial'; margin:7px 0 0 1px; padding-bottom:14px;  line-height:17px;}
/* end Индекс! */
    /* События! */
    .event-header {background:url('images/css/header-event-bg.png') repeat-x; padding:19px 0 0 0; height:65px;}
        .event-header.fixed-top {margin-top:102px;}
            .event-header .paginator {float:right; margin-right:202px;}
                .event-header .paginator ul {margin:0; padding:0;}
                    .event-header .paginator li {margin:0 0 8px 3px;  font:16px 'PFDinTextCondPro', 'Arial Narrow', 'Arial'; padding:0; float:left;}
                    .event-header .paginator li:first-child {}
                    .event-header .paginator li a {padding:0 3px;}
                    .event-header .paginator li.current {background:#f6f6f6; padding:0 0; margin:0 0 0 3px;}
                    .event-header .paginator li.current:first-child {margin-left:0;}
                        .event-header .paginator li.current a {color:#333; text-decoration:none;}
                    .event-header .paginator .visual {border-bottom:4px solid #ebebeb; position:relative;}
                        .event-header .paginator .visual div {background:#6b6b6b; width:11px; height:4px; position:absolute;}
                            .event-header .paginator .visual div ins {position:relative; width:1px 2px; background: #FFF; width:70px;}

            .event-header .b-top-left {float:left; min-width:300px;}
            .event-header .breadcrumbs {margin:3px 0 0 0; padding:0; height:22px; font:12px 'Tahoma';}
                .event-header .breadcrumbs span {background:url('images/css/breadcrumbs-bg.png') 0 0 repeat-x #e5f1f2; position:relative; padding: 2px 15px 2px 20px; margin-right:-2px; float:left; height:16px; border-top:1px solid #ebf4f5; border-bottom:1px solid #d0dcde;}
                    .event-header .breadcrumbs span.current {background:url('images/css/breadcrumbs-current-bg.png') no-repeat; position:relative; z-index:9999; padding-left:25px; padding-right:14px; width:55px; height:18px; margin-right:-12px; border:none;}
                    .event-header .breadcrumbs span.current a {color:#143244;}
                    .event-header .breadcrumbs span a {margin:0; padding:0; text-decoration:none; display:block; color:#666666;}
                    .event-header .breadcrumbs span a:hover {text-decoration:underline;}
                    .event-header .breadcrumbs span ins.r {background:url('images/css/breadcrumbs-right.png') no-repeat; width:11px; height:21px; position:absolute; z-index:9999; top:0; right:-11px;}
                    .event-header .breadcrumbs span a ins {width:14px; height:14px; background:url('images/ico/home.png') no-repeat; position:absolute; top:3px; left:6px;}

            .event-header .smi-parts-top {width:233px; margin:27px 372px 0 auto; font:18px 'PFDinTextCondPro', 'Arial Narrow', 'Arial'; float:right;}
                .event-header .smi-parts-top span {}
                    .event-header .smi-parts-top a {padding:3px 10px; color:#000; text-decoration:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline;}
                    .event-header .smi-parts-top a:hover span {border:none;}
                    .event-header .smi-parts-top a span {border-bottom:1px dotted #000;}
                    .event-header .smi-parts-top a.current {background:url('images/css/smi-parts-top_bg.png') repeat-x #3f9d35; color:#FFF;}
                    .event-header .smi-parts-top a.current span {border:none;}

            .event-header h2 {margin:5px 0 0 0; display:block; padding:0; font:28px 'PFDinTextCondPro-b', 'Arial Narrow', 'Arial';}
    .event-body {margin-bottom:0px;}
        .wrp-rubrikator {width:291px; float:right; margin-top:11px;}
            .wrp-rubrikator.fixed {position:fixed; top:199px; right:162px;}
                .wrp-rubrikator .rubrikator.advice {background:#f0f5f8; width:289px;}
                .wrp-rubrikator .rubrikator {padding:5px 0 13px 0; border:1px solid #c6d9e5; background:#f9f9f9; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
                .wrp-rubrikator .rubrikator ul {margin:-5px 0 0 12px; padding:0;}
                    .wrp-rubrikator .rubrikator li {font:17px 'PFDinTextCondPro', 'Arial Narrow', 'Arial'; padding:0; margin:0;}
                        .wrp-rubrikator .rubrikator li a {color:#333; text-decoration:underline;}
                        .wrp-rubrikator .rubrikator li a:hover {text-decoration:none;}
                        .wrp-rubrikator .rubrikator li span {display:block; padding:7px 0 0px 0; margin:2px 0 0 0;}
                        .wrp-rubrikator .rubrikator li.current span {background:url('images/css/rubrikator-current-bg.png') no-repeat; padding:7px 0 9px 29px;  margin:2px 14px -9px -29px; width:284px; position:relative; z-index:5;}
                            .wrp-rubrikator .rubrikator li.current a {text-decoration:none; cursor:default; color:#779ca4; text-shadow: 0 1px 1px rgba(255, 255, 255, 1);}
                .wrp-rubrikator .podate {margin-top:20px;}
                    .wrp-rubrikator .podate span {display:block; margin-bottom:7px; color:#8c8c8c; font:12px 'Arial';}
                    .wrp-rubrikator .podate a {color:#404040; margin-right:5px; font:18px 'PFDinTextCondPro', 'Arial Narrow', 'Arial'; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline;}
                #back-top {position:fixed; bottom:90px; /* отступ кнопки снизу */margin-right:-150px; /* отступ кнопки слева */}
                    #back-top a {width:85px; height:31px; display: block; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s;}
                    #back-top a:hover {}
                    /* иконка стрелки (тег span) */
                    #back-top span {width:83px; height:32px; display:block; margin-bottom:7px; background:url('images/css/back-top-buttons.png') 0 0 no-repeat;}
                    #back-top a:hover span {background:url('images/css/back-top-buttons.png') 0px -39px no-repeat;}
                    #back-top a:active span {background:url('images/css/back-top-buttons.png') 0px -79px no-repeat;}

        .event-body .list_items {float:left; width:677px; margin:-7px 0 0 0; padding-bottom:50px;}
            .event-body .item {width:661px; margin:4px 0 0 -19px; padding:12px 16px 16px 18px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
                .event-body .item:hover {border:1px solid #e5ecf1; background:#f9fdff; margin:3px 0 -1px -20px; box-shadow:2px 2px 1px #f6f7f8, -1px 0 1px #f1f7fb inset;}
                .event-body .item:hover {*margin:3px 0 -1px -20px;}
                    .event-body .item:hover .more {display:block;}
                    .event-body .item:hover .button-show-old a {margin-bottom:-40px;}
                    .event-body .item .breadcrumbs {color:#a1ac93; font:14px 'Arial';}
                        .event-body .item .breadcrumbs a {color:#a1ac93; text-decoration:none;}
                        .event-body .item .breadcrumbs a:hover {text-decoration:underline;}
                    .event-body .item h3 {margin:3px 0 0 0;}
                        .event-body .item h3 a {color:#2097c8;}
                    .event-body .item p {margin:9px 0; font:14px 'Arial'; color:#333; line-height:20px;}
                    .event-body .item .more {float:right; margin:3px 2px 0 0; display:none;}
                        .event-body .item .more a {color:#777; font:12px 'Arial';}
                    .event-body .item .date {font:13px 'Arial Narrow', 'Arial'; color:#898989; float:left; margin-right:40px;}
                    .event-body .item .tag {}
                        .event-body .item .tag img {float:left; margin-top:2px;}
                        .event-body .item .tag a {padding-left:4px; color:#8d949c; font:11px 'Arial';}
            .event-body .button-show-old { margin:22px 0 0 0;}
                .event-body .button-show-old a {background:url('images/css/button-show-old-event.png') 0 0 no-repeat; width:273px; height:40px; float:left; margin:8px 6px 0 0;}
                .event-body .button-show-old a:hover {background:url('images/css/button-show-old-event.png') 0 -44px no-repeat; width:274px; height:40px; margin-right:5px;}
                .event-body .button-show-old a:active {background:url('images/css/button-show-old-event.png') 0 -87px no-repeat;}
                .event-body .button-show-old img {display:block;}
    /* end */
    /* Благотворительный фонд! */
    .fond-header {background:url('images/css/fond-header.png') no-repeat; height:96px; padding:18px 0 0 16px; margin-bottom:7px; overflow:hidden;}
        .fond-header .content {width:593px; max-height:70px; font:13px 'Arial'; color:#000; line-height:16px;}
    .fond-body {padding-bottom:150px; position:relative;}
        .fond-body .wrp-send-message {}
            .fond-body .wrp-send-message .send_message {}
                .fond-body .wrp-send-message .send_message img {float:left; margin-right:5px;}
                .fond-body .wrp-send-message .send_message a {font:14px 'Arial'; text-decoration:none; border-bottom:1px dotted #0088c0; color:#0088c0;}
                .fond-body .wrp-send-message .send_message a:hover {border-bottom:none;}
                .fond-body .wrp-send-message .send_message span {font:14px 'Arial'; padding-left:4px;}
        .fond-body .menu {height:53px; position:relative; margin:26px 0; background:url('images/css/fond-menu.png') repeat-x; border-top:1px solid #e6ebee; border-right:1px solid #e6e6e5; border-bottom:1px solid #dbdbdb; border-left:1px solid #ebeff1;}
            .fond-body .menu img {position:absolute; bottom:-23px; left:50%; margin-left:-482px;}
            .fond-body .menu ul {margin:0; padding:11px 0 0 47px;}
                .fond-body .menu li {margin-right:45px; font:25px 'PFDinTextCondPro', 'Arial Narrow', 'Arial'; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline;}
                    .fond-body .menu li a {color:#707070; text-decoration:none; border-bottom:1px dotted #333;}
                    .fond-body .menu li a:hover {text-decoration:none; border:none;}
                        .fond-body .menu li a.current {border:none; color:#1a9150;}
        .fond-body .items {}
            .fond-body .items img {margin-top:13px;}
            .fond-body .items dl {border-top:1px dotted #99a8ae; padding-top:15px; margin-top:3px;}
            .fond-body .items dl:first-child {border:none; padding:0;}
                .fond-body .items dt {width:73px; height:55px; font:18px 'Arial'; color:#444; float:left; background:url('images/css/fond-item-data_bg.png') no-repeat;}
                    .fond-body .items dt div {width:64px; text-align:center; margin:6px 0 0 2px;}
                    .fond-body .items dt span {display:block; font:11px 'Arial';}
                .fond-body .items dd {margin-left:91px; width:736px; font:14px 'Arial';}
                    .fond-body .items dd h3 {font:18px 'Arial'; margin:0 0 10px 0;}
                    .fond-body .items dd p {padding:0 0 3px 0;}
    /* end */
    /* Мнение! */
    .event-body .list_items {}
        .event-body .item {}
            .event-body .item dl {}
                .event-body .item dt {text-align:left; float:left;}
                    .event-body .item dt div {width:56px; height:63px; background:url('images/ico/advice-ava.png') no-repeat;}
                    .event-body .item dt span {display:block; margin-top:7px; color:#7b848d; font:12px 'Arial Narrow', 'Arial';}
                .event-body .item dd {margin-left:81px;}
                    .event-body .item dd strong {width:100%; display:block; padding-top:5px; font:13px 'Arial'; font-weight:bold;}
                    .event-body .item dd p {font:13px 'Arial'; width:94%;}
                        .event-body .item dd p span {color:#808080;}
                            .event-body .item dd p span a {color:#808080;}
                 .vista_item {background:url('images/css/vista_item-border_bottom.png') no-repeat; height:3px; padding:8px 0;}
                 .vista_item .number_comment {color:#9ab17c; font:11px 'Arial'; float:left; margin-right:55px;}
                    .vista_item .number_comment img {float:left; margin-right:5px;}
                    .vista_item .number_comment a {color:#9ab17c;}

    /* end */
    /* Сми! */
    .smi-body {padding-bottom:10px;}
        .smi-body .block {width:264px; height:161px; float:left; position:relative; padding:13px 25px 9px 14px; margin:0 25px 23px 0; border:1px solid #cfdde8; background:#f9fdff; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; -webkit-box-shadow:1px 1px 1px rgba(239, 241, 243, 1); -moz-box-shadow:1px 1px 1px rgba(239, 241, 243, 1); box-shadow:1px 1px 1px rgba(239, 241, 243, 1);}
        .smi-body .block:hover {-webkit-box-shadow: 2px 2px 5px rgba(234, 237, 239, 0.9); -moz-box-shadow:2px 2px 5px rgba(234, 237, 239, 0.9); box-shadow:2px 2px 5px rgba(234, 237, 239, 0.9);}
            .smi-body .block h3 {font:18px 'Myriad Pro', 'Arial'; margin:0 0 10px 0; line-height:18px;}
                .smi-body .block h3 a {color:#1f80ba; padding:0;}
            .smi-body .depiction {font:12px 'Arial'; color:#8f8f8f;}
                .smi-body .depiction .txt {background:url('images/ico/i-text.png') no-repeat; margin:0; padding:2px 0 0 18px;}
            .smi-body .block p {font:13px 'Arial'; margin:14px 0 0 0;}
            .smi-body .block .read-more {font:13px 'Arial'; text-decoration:none; border-bottom:1px dotted; color:#666666; position:absolute; bottom:11px;}
            .smi-body .block .read-more:hover {border:none; margin-bottom:1px;}
            .smi-body .block .video-more {font:13px 'Arial'; text-decoration:none; color:#0a8a44; position:absolute; bottom:11px; background:url('images/ico/i-video.png') 0 3px no-repeat; padding-left:16px;}
                .smi-body .block .video-more {background-position:0 2px\9;}
                .smi-body .block .video-more span {border-bottom:1px dotted;}
                .smi-body .block .video-more:hover span {border:none; margin-bottom:1px;}
    /* end */
    /* Мероприятия! */
    .wrp-activity {border-left:1px solid #efefef; border-top:1px solid #d9e2e9; border-bottom:1px solid #d9e2e9; border-right:1px solid #d9e2e9;}
        .wrp-activity .content {width:722px; float:right; padding:0 0 0 0!important; background:url('images/css/activity_content-item-bordertop.png') repeat-x;}
            .wrp-activity .content .item {width:680px; float:right; padding:13px 22px 25px 0; font:14px 'Arial';}
                .wrp-activity .content .item h1 {padding:0; margin:0 0 18px 2px; font:28px 'PFDinTextCondPro', 'Arial Narrow', 'Arial';}
                .wrp-activity .content .item dl {overflow:hidden; margin-bottom:10px;}
                    .wrp-activity .content .item dt {float:left; max-width:259px;}
                        .wrp-activity .content .item dt img {padding:0; margin:0;}
                        .wrp-activity .content .item dt div {text-align:right; font:11px 'Arial'; color:#b2b2b2;}
                    .wrp-activity .content .item dd {margin:-3px 0 0 287px; line-height:20px;}
                .wrp-activity .content .item p {margin:0 0 16px 0; line-height:20px; }
            .wrp-send_comment {padding:0 0 0 27px;}
                .wrp-send_comment .send_comment {font:14px 'Arial'; padding-bottom:4px;}
                    .wrp-send_comment .send_comment img {float:left; margin-right:6px;}
                    .wrp-send_comment .send_comment a {color:#4d5358; text-decoration:none; border-bottom:1px dotted #7b848d;}
                    .wrp-send_comment .send_comment a:hover {border:none;}
                .wrp-send_comment .list {padding:12px 0 0 0; margin-top:29px; background:url(images/css/send_comment-border_bottom.png) 0 top no-repeat;}
                    .wrp-send_comment .list .number_comments {margin-top:3px; color:#444444; font:20px 'PFDinTextCondPro', 'Arial Narrow', 'Arial';}
                        .wrp-send_comment .list .number_comments span {color:#5fab00;}
                    .wrp-send_comment .list .wrp-comment_div {width:680px; margin-top:15px;}
                        .wrp-send_comment .list .comment_div {margin-bottom:10px;}
                            .wrp-send_comment .list .comment_div .comment {padding:10px 34px 10px 11px; border:1px solid #cacaca; font:12px 'Arial'; color:#333; position:relative; box-shadow:1px 1px 1px #e8e8e8;}
                                .wrp-send_comment .list .comment_div .comment img {position:absolute; bottom:-13px; left:18px; height:13px; width:14px;}
                            .wrp-send_comment .list .comment_div .user {font:11px 'Arial'; color:#959ba3; margin-top:12px;}
                                .wrp-send_comment .list .comment_div .user span {font-weight:bold;}


        .wrp-activity .left-menu {height:606px; width:251px; float:left; padding:14px 0 0 17px; border-right:1px solid #dde1d9; background:url(images/css/activity-left_menu.png) #eff3eb;}
            .wrp-activity .left-menu .list_news {padding-bottom:20px;}
                .wrp-activity .left-menu .list_news .news.current {margin-bottom:9px; border-bottom:1px solid #f7f7f7; background:#FFF; -webkit-box-shadow:2px 2px 2px #dededd inset, -1px 0 0 #f7f7f7 inset; -moz-box-shadow:2px 2px 2px #dededd inset, -1px 0 0 #f7f7f7 inset; box-shadow:2px 2px 2px #dededd inset, -1px 0 0 #f7f7f7 inset;}
                    .wrp-activity .left-menu .list_news .news.current a {border:none; color:#000;}
                    .wrp-activity .left-menu .list_news .news.current .date {color:#555;}
                .wrp-activity .left-menu .list_news .news {padding:6px 0 7px 17px; margin:0 0 10px -17px; font:14px 'Arial';}
                    .wrp-activity .left-menu .list_news .news a {color:#1f80ba; text-decoration:none; border-bottom:1px dotted; line-height:19px;}
                    .wrp-activity .left-menu .list_news .news a:hover {border:none;}
                    .wrp-activity .left-menu .list_news .news .date {font:13px 'Arial'; color:#828282;}
                .wrp-activity .left-menu .list_news .paginator {border-top:1px solid #e1e1e1; padding-right:14px; margin-top:16px; width:220px;}
                    .wrp-activity .left-menu .list_news .paginator ul {margin:8px 0 0 0;}
                        .wrp-activity .left-menu .list_news .paginator li {float:left; margin-left:5px; font:16px 'PFDinTextCondPro', 'Arial Narrow', 'Arial';}
                        .wrp-activity .left-menu .list_news .paginator li:first-child {margin:0;}
                            .wrp-activity .left-menu .list_news .paginator li a {color:#333; padding:3px 4px 4px 4px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
                            .wrp-activity .left-menu .list_news .paginator li a:hover {background:#e7e7e7; text-decoration:underline;}
                                .wrp-activity .left-menu .list_news .paginator li a.current {background:#e7e7e7; text-decoration:none;}
                        .wrp-activity .left-menu .list_news .paginator li span {color:#619b56; font-size:14px; padding-left:8px;}
                            .wrp-activity .left-menu .list_news .paginator li span a {background:none; color:#619b56; text-decoration:none; border-bottom:1px dotted; padding:0;}
                            .wrp-activity .left-menu .list_news .paginator li span a:hover {border:none; background:none; text-decoration:none;}

        /* таблица */
        .wrp-activity table {padding:0; margin:0;}
                .wrp-activity table .content .wrapper {height:618px; width:100%; position:relative;}
                    .wrp-activity table .content .wrapper .fade img {position:absolute; bottom:10px;}

    /* end */


/*  Подвал!  */
    .footer {height:78px; width:100%; background:url('images/css/footer-bg.png') repeat-x; position:absolute; bottom:-78px;}
        .footer .wrap {padding-top:34px;}
            .vendor {width:235px; float:right; text-align:right; font:13px 'PFDinTextCondPro', 'Arial Narrow', 'Arial';}
                .vendor a {color:#1572c6;}
            .footer-menu {float:left; font:14px 'PFDinTextCondPro', 'Arial Narrow', 'Arial';}
                .footer-menu ul {margin:-1px 0 0 0; padding:0;}
                .footer-menu li {padding:0; margin-right:20px; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline;}
                    .footer-menu ul li a {color:#54a5d4; text-decoration:underline;}
                    .footer-menu ul li a:hover {text-decoration:none;}



/* end  Подвал!  */