@font-face {
    font-weight: bold;
    font-style: normal;
    font-family: 'PFDinTextCondPro-b';
    src: url('fonts/PFD/PFDinTextCondPro-Medium.eot');
    src: local('O'),
    url('fonts/PFD/PFDinTextCondPro-Medium.woff') format('woff'),
    url('fonts/PFD/PFDinTextCondPro-Medium.ttf') format('truetype'),
    url('fonts/PFD/PFDinTextCondPro-Medium.svg#webfont30G9S4nm') format('svg');
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'PFDinTextCondPro';
    src: url('fonts/PFD/PFDinTextCondPro-Light.eot');
    src: local('O'),
    url('fonts/PFD/PFDinTextCondPro-Light.woff') format('woff'),
    url('fonts/PFD/PFDinTextCondPro-Light.ttf') format('truetype'),
    url('fonts/PFD/PFDinTextCondPro-Light.svg#webfont30G9S4nm') format('svg');
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'DinDisplayPro-Reg';
    src: url('fonts/DIN/DinDisplayPro-Reg.eot');
    src: url('fonts/DIN/DinDisplayPro-Reg.eot?#iefix') format('embedded-opentype'),
         url('fonts/DIN/DinDisplayPro-Reg.woff') format('woff'),
         url('fonts/DIN/DinDisplayPro-Reg.ttf') format('truetype'),
         url('fonts/DIN/DinDisplayPro-Reg.svg#DinDisplayPro-Reg') format('svg');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v3/UyYrYy3ltEffJV9QueSi4S4mX3cpNo8MnLri8k21-rs.woff) format('woff');
}
/* �����! */
.wrap {position:relative; margin:0 auto; padding: 0 10px 0 10px; width:1000px;}
.container {position:relative; min-height:100%; height:100%; height:auto!important; overflow:hidden;}
    .header {position:relative; z-index:10000; height:102px; background:url('images/css/header-bg.png') repeat-x; font:17px PFDinTextCondPro-b, Arial;}
            .header .wrap {min-height:102px; width:1000px; overflow:hidden;}
				/*��� ����� ����� ���� �������*/
                .h_menu-left {overflow:hidden; margin:36px 0 0 0;width:368px; text-align: justify; text-transform:uppercase;}
                        .h_menu-left li { display: -moz-inline-box; display: inline-block; margin:0;padding:0; zoom: 1; *display: inline; padding-bottom:5px;}
                         .h_menu-left li:last-child {margin:0;}
                        .h_menu-left li.helper { visibility: hidden; width: 100%;height:0;}
                            .h_menu-left a {color:#333; text-decoration:none; border-bottom:1px solid #999999;}
                            .h_menu-left a:hover {color:#266a86; border-bottom:1px solid #266a86;}
                            .h_menu-left a.current {color:#1d8aba; border-bottom:1px solid #8ec4dc;}
                .h_menu-right { float:right; overflow:hidden; margin:36px 0 0 0; width:366px; text-transform:uppercase;}
                        .h_menu-right li { display: -moz-inline-box; display: inline-block; margin:0 16px 0 0; padding:0; zoom: 1; *display: inline; padding-bottom:5px;}
                        .h_menu-right li:last-child {margin:0;}
                        .h_menu-right li.helper {visibility: hidden; width: 100%;height:0;}
                            .h_menu-right a {color:#333; text-decoration:none; border-bottom:1px solid #999999;}
                            .h_menu-right a:hover {color:#266a86; border-bottom:1px solid #266a86;}
                            .h_menu-right a.current {color:#1d8aba; border-bottom:1px solid #8ec4dc;}
				/*��� ����� ����� ���� �������*/
/* ���������� ���� */
                .wrp_h_owner { position:absolute; left:50%; top:0; margin-left:-118px; width:237px; height:94px; background:url('images/css/header-owner.png') 0 0 no-repeat #1f89bb;}
                    .h_owner {display:block; width:236px; height:93px; border-right:1px solid #dfe8ed; border-left:1px solid #dfe8ed;}
						.menu {margin:36px 0 0 0; text-transform:uppercase; vertical-align:middle; overflow:hidden;}
						.menu li {  float:left; margin:0 0 0 13px; padding:0;  padding-bottom:5px;  line-height:20px;}
                        .menu li:first-child {margin:0;}
                        .menu li.helper { visibility: hidden; width: 100%;height:0;}
                            .menu a {color:#333; text-decoration:none; border-bottom:1px solid #999999;}
                            .menu a:hover {color:#266a86; border-bottom:1px solid #266a86;}
                            .menu li.current-menu-item a,.menu li.current-menu-parent a {color:#1d8aba; border-bottom:1px solid #8ec4dc;}
						.menu-top_left-container {width:380px; float:left; }
						.menu-top_right-container { float:right; width:363px;}

/* ������! */
    .content {padding-bottom:70px;}
        .overlay {background:url(images/css/Overlayer_bg.png); height:440px; width:100%; display:none; position:absolute; z-index:9999;}
        .content.bf {background:#f6fafc; padding-bottom:0;}
        .content .wrap.event {overflow:visible; margin-top:14px; position:relative!important;}
        .rightside {float:right; margin:8px 0 50px 0;width:331px;}
            .advice {padding:23px 32px 5px 21px;width:277px; border:1px solid #c1d4de; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#f0f5f8; -webkit-box-shadow:1px 1px 1px rgba(232, 237, 239, 0.8); -moz-box-shadow:1px 1px 1px rgba(232, 237, 239, 0.8); box-shadow:1px 1px 1px rgba(232, 237, 239, 0.8);}
            .advice {*padding-bottom:20px;}
            .advice .head {width:235px;}
                .advice .head dl {height:111px; margin-bottom:10px;}
                .advice .head dt {float:left; width:98px; height:111px; background:#0ff1f6;}
                .advice .head dd {margin-left:120px; width:112px; font:27px 'PT Sans Narrow', 'Arial Narrow', 'Arial';}
                    .advice .head dd a {color:#010101; text-decoration:none; font-family:'PFDinTextCondPro-b', 'Arial Narrow', 'Arial';}
                    .advice .head dd a:hover .owner {text-decoration:none;}
                    .advice .head dd a span.head {text-decoration:underline; margin-bottom:12px; display:block; width:82px;}
                    .advice .head dd a:hover {text-decoration:none; color:#555;}
                    .advice .head dd a span.owner {text-decoration:none;  font-family:'PT Sans Narrow', 'Arial Narrow', 'Arial'; line-height:27px;}
                .news_views {margin-top:8px;}
                    .news_views {*margin-top:10px;}
                    .news_views {margin-top:11px\9;}
                    .news_views .view { margin-bottom:16px;font:15px 'Arial';}
                        .news_views .view a {color:#0075b8; text-decoration:none;}
                        .news_views .view a:hover {text-decoration:none; border-bottom:1px solid #bdd9ea;}
                        .news_views .view span {display:block; margin-top:4px; color:#777; font:11px 'Arial';}
            .fond-main {margin-top:41px;height:262px;}
                .fond {width:333px;text-align:center;}
                    .fond .send {margin:6px auto 66px auto;width:229px; height:34px; background:url('images/ico/button_send_in_fond.png') no-repeat;}
                        .fond .send a {display:block; padding:3px 0 0 0; height:31px; color:#FFF; text-decoration:none; font:22px 'PFDinTextCondPro-b', 'Arial Narrow', 'Arial';}
                        .fond .send a:hover {text-decoration:underline;}
                        /* .fond .send a:active {color:#21e87a; */
                    .fond dl {height:65px;background:url('images/css/fond-border.png') 0 100% no-repeat;}
                        .fond dt {float:right; padding:6px 19px 0 14px;}
                            .fond dt img { display: -moz-inline-box; display: inline-block;margin-left:17px; zoom: 1; *display: inline;}
                        .fond dd { float:left;width:167px; text-align:left; font:22px 'PFDinTextCondPro', 'Arial Narrow', 'Arial';}
        .strip_news {float:left; width:642px;}
            .strip_news .dl {margin:0; padding:0;}
            .strip_news .ikonka {margin:0 0 0 0; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline; vertical-align:bottom;}
            .strip_news .lenta-top {margin:0 0 0 8px; padding:0; width:593px; padding-bottom:1px; border-bottom:2px solid #333; text-transform:uppercase; font:24px 'PFDinTextCondPro-b', 'Arial Narrow', 'Arial'; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline; vertical-align:top;}
                .strip_news dd span {padding-right:435px;}
            .strip_news .body {margin-top:14px; min-height:729px; width:597px;}
                .strip_news .body .top {background:url('images/css/index-body-top_bg.png'); height:12px; width:639px;}
                .strip_news .body .substrate {background:url('images/css/index-bodysubstrate_bg.png') repeat-y; width:597px; padding:8px 19px 0 23px;}
                .strip_news .body .bottom {background:url(images/css/index-body-bottom_bg.png) no-repeat; width:639px; height:16px; margin-bottom:20px}

                .top_news {margin-bottom:28px;}
                    .top_news .tdate {display: inline; margin-bottom:4px;color:#838c94; vertical-align:top;}
                    .top_news .ttag {display: inline; margin-left:12px;color:#7da87a; vertical-align:top;}
                        .top_news .ttag a {color:#7da87a; text-decoration:underline;}
                        .top_news .ttag a:hover {text-decoration:none;}
                    .top_news .title {margin:4px 0 10px 0; font:24px 'DinDisplayPro-Reg', 'Arial';}
                    .top_news .photo {width:589px; height:auto; padding:0 2px 0 0; text-align:center; -webkit-box-shadow: 1px 1px 1px rgba(226, 227, 227, 1); -moz-box-shadow:1px 1px 1px rgba(226, 227, 227, 1); box-shadow:1px 1px 1px rgba(226, 227, 227, 1);}
                        .top_news .photo img {margin:-1px 0 0 0; width:589px; border:1px solid #FFF; height:auto;}
                    .top_news .text {margin:10px 0 0 0; padding-bottom:14px; width:589px; background:url('images/css/top-news_border-bottom.png') 0 100% no-repeat; font:16px 'DinDisplayPro-Reg','Arial';}
                .other_news { }
                    .other_news .item {float:left; margin-left:45px;width:276px;}
                    .other_news .item:first-child {margin:0;}
                        .other_news .item .odate {display: inline; vertical-align:middle; margin:0px 12px 2px 0;color:#838c94; font-size:13px;}
                        .other_news .item .otag {color:#7da87a; font-size:12px; display: inline; vertical-align:middle;}
                            .other_news .item .otag a {color:#7da87a; text-decoration:underline;}
                            .other_news .item .otag a:hover {text-decoration:none;}
                        .other_news .item .title {margin:4px 0 10px 0; font:20px 'DinDisplayPro-Reg','Arial';}
                            .other_news .item .title a {line-height:22px;}
                        .other_news .item .photo {width:271px;padding-left:2px; -webkit-box-shadow: 1px 1px 1px rgba(232, 234, 234, 1);
-moz-box-shadow:    1px 1px 1px rgba(232, 234, 234, 1);
box-shadow:         1px 1px 1px rgba(232, 234, 234, 1);}
                            .other_news .item .photo img {margin-top:-1px; margin-left:-2px; max-width:271px; border:1px solid #FFF;}
                        .other_news .item .text {margin:7px 0 0 1px; padding-bottom:14px;width:273px; font:14px 'DinDisplayPro-Reg','Arial';;}

    /* �������! */
    .event-header {padding:13px 0 2px 0; background:url('images/css/header-event-bg.png') repeat-x #fafafa; overflow:hidden;}
        .event-bottom-img {height:13px; background:url('images/css/event-header_bottom-bg.png') 0 bottom repeat-x;}
        .event-header.artic {background:url('images/css/event-header_artic-bg.png') repeat-x;}
            .event-header .b-top-left {float:left; min-width:300px; position: relative; z-index: 9999;}
            .event-header .breadcrumbs {margin:3px 0 0 0; padding:0; height:22px; font:12px 'Tahoma';}
            #breadcrumb-x {display:none;}
                .event-header .breadcrumbs span {position:relative; float:left; margin-right:-2px; padding: 2px 15px 2px 20px; height:16px; border-top:1px solid #ebf4f5; border-bottom:1px solid #d0dcde;background:url('images/css/breadcrumbs-bg.png') 0 0 repeat-x #e5f1f2;}
                    .event-header .breadcrumbs span.current {position:relative; padding-top:3px; z-index:9999; margin-right:-12px; padding-right:14px; padding-left:25px; width:55px; height:18px; border:none; background:url('images/css/breadcrumbs-current-bg.png') no-repeat;}
                    .event-header .breadcrumbs span.current a {color:#143244;}
                    .event-header .breadcrumbs span a {margin:0; padding:0; color:#666666; text-decoration:none; text-shadow:1px 1px 1px #FFF;}
                    .event-header .breadcrumbs span a:hover {text-decoration:underline;}
                    .event-header .breadcrumbs span ins.r {position:absolute; top:0; right:-11px; z-index:9999; width:11px; height:21px;background:url('images/css/breadcrumbs-right.png') no-repeat;}
                    .event-header .breadcrumbs span a ins {position:absolute; top:3px; left:6px;width:14px; height:14px; background:url('images/ico/home.png') no-repeat;}

            .event-header .smi-parts-top {margin:-24px 0 0px 405px;width:233px; font:18px 'PT Sans Narrow', 'Arial Narrow', 'Arial'; overflow:hidden;}
                .event-header .smi-parts-top span { }
                    .smi-parts-top ol, .smi-parts-top li {margin:0; padding:0; display:inline}
                    .event-header .smi-parts-top a {padding:1px 10px 3px 10px; display: -moz-inline-box; display: inline-block; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; color:#000; text-decoration:none; zoom: 1; *display: inline;}
                    .event-header .smi-parts-top a:hover span {border:none;}
                    .event-header .smi-parts-top a span {border-bottom:1px dotted #000;}
                    .event-header .smi-parts-top .current-menu-item a {background:url('images/css/smi-parts-top_bg.png') repeat-x #3f9d35; color:#FFF;}
                    .event-header .smi-parts-top .current-menu-item a span {border:none;}

            .event-header h2 {display:block; line-height: 26px!important; max-width:658px; margin:6px 0 0 0; padding:0; font:28px 'PFDinTextCondPro-b', 'Arial Narrow', 'Arial';}

    .event-body {margin-bottom:0px; padding-right:321px; width: 677px;}
            .wrp-rubrikator-fixed {top:0; left:0; position:absolute; width: 100%;}
            .wrp-rubrikator-fixed a {z-index:10; position:relative}
                .wrp-rubrikator-fixed .paginator {width:220px; height:38px; margin:0 auto; position:absolute; top:135px; right: 50%; margin-right: -430px;}
                    .paginator .top-fixed {}
                        #paginator-events {width:100px; height:45px; position:relative; z-index:10}
                        .paginator .wrp-line {white-space:nowrap; height:30px; width:100px; margin:0 30px 0 0; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline;}
                        .paginator .wrp-line {*margin:0 30px 0 0;}
                        .paginator .jspDrag {background:scroll transparent url(images/ico/page-current.png) top center no-repeat}
                        .paginator .jspTrack {background:transparent}
                        .paginator .jspHorizontalBar {background:scroll transparent url(images/css/pginator-underline.gif) 0 0 repeat-x}
                            .paginator .wrp-line a {padding:1px 5px; color:#3fa5cf; font-size:16px; font-family:'PFDinTextCondPro', 'Arial Narrow', 'Arial'; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline;}
                            .paginator .wrp-line a:hover {background:#f5f5f5;}
                                .paginator .wrp-line a.current {background:#f5f5f5; color:#818181; text-decoration:none;}
                            .paginator .top-fixed .next {width:35px; height:17px; text-align:left; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline; vertical-align:top; margin-top:5px;}
                                .paginator .top-fixed .next a {background:url(images/css/pagination_buttons.png) -47px 0 no-repeat; width:35px; height:17px; display:block;}
                                .paginator .top-fixed .next a:hover {background:url(images/css/pagination_buttons.png) -47px -21px no-repeat;}
                                .paginator .top-fixed .next a:active {background:url(images/css/pagination_buttons.png) -47px -42px no-repeat;}
                            .paginator .top-fixed .prew {width:35px; height:17px; text-align:left; display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline; vertical-align:top; margin-top:5px;}
                                .paginator .top-fixed .prew a {background:url(images/css/pagination_buttons.png) 0px 0 no-repeat; width:35px; height:17px; display:block;}
                                .paginator .top-fixed .prew a:hover {background:url(images/css/pagination_buttons.png) 0px -21px no-repeat;}
                                .paginator .top-fixed .prew a:active {background:url(images/css/pagination_buttons.png) 0px -42px no-repeat;}


                .rubrikator-fixed.advice {width:289px; background:#f0f5f8;}
                .rubrikator-fixed {padding:5px 0 13px 0; width:288px; position:relative; margin:0 auto; top:210px; left:353px; background:#f9f9f9; border:1px solid #c6d9e5; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
                .rubrikator-fixed ul {margin:-5px 0 0 12px; padding:0;}
                    .rubrikator-fixed li { margin:0; padding:0;font:18px 'PFDinTextCondPro', 'Arial Narrow', 'Arial';}
                        .rubrikator-fixed li a {color:#333; text-decoration:underline;}
                        .rubrikator-fixed li a:hover {text-decoration:none;}
                        .rubrikator-fixed li span {display:block; margin:0 0 0 0; padding:7px 0 0px 0;}
                        .rubrikator-fixed li.current span {position:relative; z-index:5; margin:8px 14px 0 -29px; padding:7px 0 9px 29px; width:284px; background:url('images/css/rubrikator-current-bg.png') no-repeat;}
                        .rubrikator-fixed li.current a {color:#779ca4;text-decoration:none; text-shadow: 0 1px 1px rgba(255, 255, 255, 1); cursor:default;}
                .wrp-rubrikator-fixed .podate {margin:0 0 20px 0;}
                .podate .current {}
                    .wrp-rubrikator-fixed .podate span {display:block; margin-bottom:7px; color:#8c8c8c; font:12px 'Arial';}
                    .wrp-rubrikator-fixed .podate a {padding:2px 10px 1px 10px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; display: -moz-inline-box; display: inline-block; margin-right:0;color:#404040; font:18px 'PFDinTextCondPro', 'Arial Narrow', 'Arial'; zoom: 1; *display: inline;}
                        .wrp-rubrikator-fixed .podate a.current {background:url('images/css/smi-parts-top_bg.png') repeat-x #3f9d35; color:#FFF; text-decoration:none;}
                .rubrikator-advanced {position:relative; margin:0 auto; width:281px; top:220px; left:353px;}
                #back-top {bottom:70px; /* ������ ������ ����� */}
                    #back-top a {display: block;width:85px; height:31px; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s;}
                    #back-top a:hover { }
                    /* ������ ������� (��� span) */
                    #back-top span {display:block; margin-bottom:7px;width:83px; height:32px; background:url('images/css/back-top-buttons.png') 0 0 no-repeat;}
                    #back-top a:hover span {background:url('images/css/back-top-buttons.png') 0px -39px no-repeat;}
                    #back-top a:active span {background:url('images/css/back-top-buttons.png') 0px -79px no-repeat;}

        .event-body .list_items {float:left; margin:-7px 0 0 0; padding-bottom:50px; position:relative; z-index:10;}
            .event-body .item {margin:4px 0 0 -19px; padding:12px 16px 16px 18px;width:661px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
                .event-body .item:hover {margin:3px 0 -1px -20px;border:1px solid #e5ecf1; background:#f9fdff; box-shadow:2px 2px 1px #f6f7f8, -1px 0 1px #f1f7fb inset;}
                .event-body .item:hover {*margin:3px 0 -1px -20px;}
                    .event-body .item:hover .more {display:block;}
                    .event-body .item:hover .button-show-old a {margin-bottom:-40px;}
                    .event-body .item .breadcrumbs {color:#a1ac93; font:14px 'Arial';}
                        .event-body .item .breadcrumbs a {color:#a1ac93; text-decoration:none;}
                        .event-body .item .breadcrumbs a:hover {text-decoration:underline;}
                    .event-body .item h3 {margin:3px 0 0 0; font-size:24px; font-family:'DinDisplayPro-Reg','Arial'; text-align:left;}
                        .event-body .item h3 a {border-bottom:1px solid #bdd9ea; text-decoration:none;}
                        .event-body .item h3 a:hover {color:#60b5d8;}
                    .event-body .item p {margin:9px 0; color:#333; font:14px 'Arial'; line-height:20px;}
                    .event-body .item .more {display:none;float:right; margin:3px 2px 0 0;}
                        .event-body .item .more a {color:#777; font:12px 'Arial';}
                    .event-body .item .date {margin-right:30px; color:#898989;font:13px 'Arial Narrow', 'Arial'; display:inline;}
                    .event-body .item .tag {display:inline;}
                        .tags-img {vertical-align:middle}
                        .event-body .item .tag a {color:#8d949c; font:11px 'Arial'; display:inline; vertical-align:top;}
            .button-show-old {margin:22px 0 0 0;}
                .button-show-old .button {}
                    .event-body .button-show-old a {font:16px 'Georgia', 'Arial'; color:#FFF; text-decoration:none; float:left; padding:9px 0 0 19px; margin:6px 6px 0 0; width:257px; height:34px; background:url('images/css/buttons-pack.png') -2px -145px no-repeat; display:block;}
                    .event-body .button-show-old a:hover {text-decoration:underline; background:url('images/css/buttons-pack.png') -2px -189px no-repeat; text-decoration:none;}
                    .event-body .button-show-old a:active {background:url('images/css/buttons-pack.png') -2px -232px no-repeat;}
                    .event-body .button-show-old img {display:block;}
                    #old-loader {width:50px; height:50px; display:none}

    /* ����������������� ����! */
    .fond-header {overflow:hidden; margin-bottom:7px; padding:18px 0 0 16px; height:96px;background:url('images/css/fond-header.png') no-repeat;}
        .fond-header .content {max-height:70px; width:593px; color:#000; font:13px 'Arial'; line-height:18px; text-shadow:1px 2px 1px #FFF;}
    .fond-body {position:relative; padding-bottom: 50px;}
            .wrp-send-message .send_message {position:relative;}
                .wrp-send-message .send_message .send_ok {display:none; font-size:13px; width:300px; background:url(images/ico/200ok.png) no-repeat; color:#5aa700; padding:3px 0 5px 30px; margin:20px 0 0 0;}
                .wrp-send-message .send_message img {float:left; margin-right:5px;}
                .wrp-send-message .send_message a {border-bottom:1px dotted #0088c0; color:#0088c0; text-decoration:none;font:14px 'Arial';}
                .wrp-send-message .send_message a:hover {border-bottom:none;}
                .wrp-send-message .send_message span {padding-left:4px;font:14px 'Arial';}
                .fund-animation {height:40px; margin-bottom:-24px; overflow:hidden}
                #feedbacklink {display:block; position:relative; left:0; top:0}
                #feedbackmsg {position:relative; left:0; top:-60px}
        .fond-body .menu {width:100%; position:relative; margin:26px 0;height:53px; border-top:1px solid #e6ebee; border-right:1px solid #e6e6e5; border-bottom:1px solid #dbdbdb; border-left:1px solid #ebeff1; background:url('images/css/fond-menu.png') repeat-x;}
            .fond-body .menu img {position:absolute; bottom:-23px; left:50%; width:980px; height:22px; margin-left:-459px;}
            .fond-body .menu ul {margin:0; padding:11px 0 0 47px;}
                .fond-body .menu li {display: -moz-inline-box; display: inline-block;margin-right:45px; font:25px 'PT Sans Narrow', 'Arial Narrow', 'Arial'; zoom: 1; *display: inline;}
                    .fond-body .menu li a {border-bottom:1px solid #999999;color:#707070; text-decoration:none;}
                    .fond-body .menu li a:hover {color:#266a86; border-bottom:1px solid #266a86;}
                        .fond-body .menu .current-menu-item a {color: #1D8ABA; border-bottom:1px solid #8EC4DC;}
            .fond-body .items img {margin-top:13px; width:1005px; height:8px;}
            .fond-body .items dl {margin-top:3px; padding-top:15px; border-top:1px dotted #99a8ae;}
            .fond-body .items dl p {margin:0; padding:0}
            .fond-body .items dl:first-child {padding:0;border:none;}
                .fond-body .items dt {float:left;width:73px; height:55px; background:url('images/css/fond-item-data_bg.png') no-repeat; color:#444; font:18px 'Arial';}
                    .fond-body .items dt div {margin:6px 0 0 2px; width:63px; text-align:center;}
                    .fond-body .items dt span {display:block; font:11px 'Arial'; margin-left:1px;}
                .fond-body .items dd {margin-left:91px; width:736px; font:14px 'Arial';}
                    .fond-body .items dd h3 {margin:0 0 10px 0; font:18px 'Arial';}
                    .fond-body .items dd p {padding:0 0 3px 0;}

    /* ������! */
                .event-body .item dt {float:left;text-align:left;}
                    .event-body .item dt div {width:56px; height:63px; background:url('images/css/bitarov1.jpg') no-repeat}
                    .event-body .item dt span {display:block; margin-top:7px; color:#7b848d; font:12px 'Arial Narrow', 'Arial';}
                .event-body .item dd {margin-left:81px;}
                    .event-body .item dd strong {display:block; padding-top:5px;width:100%; font:13px 'Arial'; font-weight:bold;}
                    .event-body .item dd p {font:13px 'Arial';}
                        .event-body .item dd p span {color:#808080;}
                            .event-body .item dd p span a {color:#808080;}
                 .vista_item {padding:8px 0; height:3px;background:url('images/css/vista_item-border_bottom.png') no-repeat;}
                 .vista_item .number_comment {float:left; margin-right:41px;color:#9ab17c; font:11px 'Arial';}
                    .vista_item .number_comment img {float:left; margin-right:5px;}
                    .vista_item .number_comment a {color:#9ab17c;}

    /* ���! */
    #media-loader {position:absolute; left:50%; top:50%; margin:-23px 0 0 -82px; z-index:100; display:none}
    .smi-body {margin-top:25px; padding-bottom:50px; position:relative;}
        .smi-body .block {position:relative; float:left; margin:0 25px 23px 0; padding:13px 25px 9px 14px;width:264px; height:161px; border:1px solid #cfdde8; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; background:#f9fdff; -webkit-box-shadow:1px 1px 1px rgba(239, 241, 243, 1); -moz-box-shadow:1px 1px 1px rgba(239, 241, 243, 1); box-shadow:1px 1px 1px rgba(239, 241, 243, 1);}
        .smi-body .block:hover {border:1px solid #bdccd8;-webkit-box-shadow: 2px 2px 5px rgba(234, 237, 239, 0.9); -moz-box-shadow:2px 2px 5px rgba(234, 237, 239, 0.9); box-shadow:2px 2px 5px rgba(234, 237, 239, 0.9);}
            .smi-body .block h3 {margin:0 0 10px 0;font:18px 'Arial', 'Myriad Pro'; width: 275px; line-height:19px;}
                .smi-body .block h3 a {padding:0; text-decoration:none; border-bottom:1px dotted #BDD9EA;}
                .smi-body .block h3 a:hover {color:#60b5d8;}
            .smi-body .depiction {color:#8f8f8f;font:12px 'Arial';}
                .smi-body .depiction .txt {margin:0; padding:2px 0 0 18px;background:url('images/ico/i-text.png') no-repeat;}
                .smi-body .depiction .avi {margin:0; padding:2px 0 0 21px;background:url('images/ico/i-avi.png') no-repeat;}
            .smi-body .blocklimiter {max-height:139px; max-width:264px; overflow:hidden}
            .smi-body .block p {margin:10px 0 0 0;font:13px 'Arial'}
            .smi-body .block .read-more {position:absolute; bottom:11px; border-bottom:1px dotted; color:#666666; text-decoration:none;font:13px 'Arial';}
            .smi-body .block .read-more:hover {margin-bottom:1px;border:none;}
            .smi-body .block .video-more {position:absolute; bottom:11px; padding-left:16px; background:url('images/ico/i-video.png') 0 3px no-repeat; color:#0a8a44; text-decoration:none; font:13px 'Arial';}
                .smi-body .block .video-more {background-position:0 2px\9;}
                .smi-body .block .video-more span {border-bottom:1px dotted;}
                .smi-body .block .video-more:hover span {margin-bottom:1px;border:none;}
        .smi-body .paginator {margin-top:16px; padding-right:14px; width:320px;}
            .smi-body .paginator ul {margin:8px 0 0 0;}
                .smi-body .paginator li {float:left; margin-left:5px; font:16px 'PT Sans Narrow', 'Arial Narrow', 'Arial';}
                .smi-body .paginator li:first-child {margin:0;}
                    .smi-body .paginator li a { padding:3px 4px 4px 4px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;color:#2097c8;}
                    .smi-body .paginator li a:hover {background:#e7e7e7; text-decoration:underline;}
                    .smi-body .paginator li a.current {background:#e7e7e7; text-decoration:none;}
                    .smi-body .paginator li span {padding-left:8px;color:#619b56;}
                        .smi-body .paginator li span a {padding:0; background:none; color:#2097c8; text-decoration:underline;}
                        .smi-body .paginator li span a:hover {border:none; background:none; text-decoration:none;}

    /* �����������! */
    .wrp-activity {overflow:hidden; position:relative; height:600px; border-top:1px solid #d9e2e9; border-right:1px solid #d9e2e9; border-bottom:1px solid #d9e2e9; border-left:1px solid #efefef;}
        .wrp-activity .content {position:relative; z-index:999; padding:0 0 200px 0!important; background:url('images/css/activity_content-item-bordertop.png') repeat-x;}
            .independen-item {overflow:hidden; padding:13px 0 25px 22px; width:680px; font:14px 'Arial';}
                .independen-item .height {padding-bottom:50px;}
                .independen-item h1 {margin:0 0 18px 2px; padding:0; font:28px 'PT Sans Narrow', 'Arial Narrow', 'Arial';}
                .independen-item dl {overflow:hidden; margin-bottom:10px;}
                    .independen-item dt {float:left; max-width:259px;}
                        .independen-item dt img {margin:0;padding:0;}
                        .independen-item dt div {color:#b2b2b2;text-align:right; font:11px 'Arial';}
                    .independen-item dd {margin:-3px 0 0 287px; line-height:20px;}
                .independen-item p {margin:0 0 16px 0; line-height:20px; }
            .wrp-send_comment {padding:0 0 0 27px;}
                .wrp-send_comment-framed {margin-bottom:15px}
                .wrp-send_comment.normal {padding:0; margin-top:17px;}
                .wrp-send_comment .send_comment {padding-bottom:4px;font:14px 'Arial';}
                    .wrp-send_comment .send_comment img {float:left; margin-right:6px;}
                    .wrp-send_comment .send_comment a {border-bottom:1px dotted #7b848d;color:#4d5358; text-decoration:none;}
                    .wrp-send_comment .send_comment a:hover {border:none;}
                .wrp-send_comment .list {margin-top:29px; padding-top:12px; background:url(images/css/send_comment-border_bottom.png) 0 top no-repeat;}
                    .list .number_comments {margin-top:3px; color:#444444; font:20px 'PT Sans Narrow', 'Arial Narrow', 'Arial';}
                        .list .number_comments span {color:#5fab00;}
                    .list .wrp-comment_div {margin-top:15px;width:680px;}
                        .list .comment_div {margin-bottom:10px;}
                            .list .comment_div .comment {position:relative;padding:10px 34px 10px 11px; border:1px solid #cacaca; box-shadow:1px 1px 1px #e8e8e8; color:#333; font:12px 'Arial';}
                                .list .comment_div .comment img {position:absolute; bottom:-13px; left:18px; width:14px; height:13px;}
                            .list .comment_div .user {margin:12px 0 0 22px; color:#959ba3;font:11px 'Arial';}
                                .list .comment_div .user span {font-weight:bold;}
        .wrp-activity .left-menu {padding:14px 0 0 17px; border-right:1px solid #dde1d9; background:url('images/css/activity-left_menu.png') #eff3eb;vertical-align:top;}
            .wrp-activity .left-menu .list_news {padding-bottom:20px;}
                .wrp-activity .left-menu .list_news .news.current {margin-bottom:9px; border-bottom:1px solid #f7f7f7; background:#FFF; -webkit-box-shadow:2px 2px 2px #dededd inset, -1px 0 0 #f7f7f7 inset; -moz-box-shadow:2px 2px 2px #dededd inset, -1px 0 0 #f7f7f7 inset; box-shadow:2px 2px 2px #dededd inset, -1px 0 0 #f7f7f7 inset;}
                    .wrp-activity .left-menu .list_news .news.current a {border:none; color:#000;}
                    .wrp-activity .left-menu .list_news .news.current .date {color:#555;}
                    #actions-shadow {display:none; position:absolute; left:5px; top:5px; border:1px solid #DDD; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; width:256px; height:256px; background:scroll transparent url(images/css/white75.png) 0 0 repeat}
                    #actions-shadow div {width:100%; height:100%; background:scroll transparent url(images/css/loader-circle.gif) center center no-repeat}
                .wrp-activity .left-menu .list_news .news {margin:0 0 10px -17px;padding:6px 0 7px 17px; font:14px 'Arial';}
                    .wrp-activity .left-menu .list_news .news a {border-bottom:1px dotted;color:#1f80ba; text-decoration:none; line-height:19px;}
                    .wrp-activity .left-menu .list_news .news a:hover {border:none;}
                    .wrp-activity .left-menu .list_news .news .date {color:#828282;font:13px 'Arial';}
                .wrp-activity .left-menu .list_news .paginator {margin-top:16px; padding-right:14px; width:220px;border-top:1px solid #e1e1e1;}
                    .wrp-activity .left-menu .list_news .paginator ul {margin:8px 0 0 0;}
                        .wrp-activity .left-menu .list_news .paginator li {float:left; margin-left:5px; font:16px 'PT Sans Narrow', 'Arial Narrow', 'Arial';}
                        .wrp-activity .left-menu .list_news .paginator li:first-child {margin:0;}
                            .wrp-activity .left-menu .list_news .paginator li a { padding:3px 4px 4px 4px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;color:#333;}
                            .wrp-activity .left-menu .list_news .paginator li a:hover {background:#e7e7e7; text-decoration:underline;}
                                .wrp-activity .left-menu .list_news .paginator li a.current {background:#e7e7e7; text-decoration:none;}
                        .wrp-activity .left-menu .list_news .paginator li span {padding-left:8px;color:#619b56; font-size:14px;}
                            .wrp-activity .left-menu .list_news .paginator li span a {padding:0; border-bottom:1px dotted;background:none; color:#619b56; text-decoration:none;}
                            .wrp-activity .left-menu .list_news .paginator li span a:hover {border:none; background:none; text-decoration:none;}
        /* ������� */
        .wrp-activity table {overflow:hidden; margin:0;padding:0; width:100%; height:600px;}
            .wrp-activity .left-menu {overflow:hidden!important;width:251px; height:600px;}
            .wrp-activity table td .content {width:722px;}
                .scroll-container-main {height:600px; width: 729px; position:relative; z-index:1; background:url('images/css/activity_content-item-bordertop.png') 0 top repeat-x;}
                    .scroll-container-main .scroll-pane {position:relative; z-index:1; overflow:hidden; height:600px;}
                        .wrp-activity .fade img {position:absolute; bottom:0; right:10px; z-index:1000; width:710px;}

    /* ����� �������������! */
    .slider_container {width:1000px;}
        .slider_container .orbit-wrapper {margin:0; width:1000px; border:none; padding-bottom:0;}
            .slider_container .slider-nav .right {height:50px; width:26px; right:-3px; background:url('images/css/fond-slider-buttons.png') -46px 0 no-repeat;}
            .slider_container .slider-nav .right:hover {background:url('images/css/fond-slider-buttons.png') -46px -62px no-repeat;}
            .slider_container .slider-nav .left {height:50px; width:26px; left:0px; background:url('images/css/fond-slider-buttons.png') 0 0 no-repeat;}
            .slider_container .slider-nav .left:hover {background:url('images/css/fond-slider-buttons.png') 0 -62px no-repeat;}
         .slider_container .border-bottom {width:100%; margin:0 0 0 1px;}

    /* ���� ��������� � overlay */
    .overLayer {height:100%; width:102%; margin:0 -8px; position:absolute; z-index:1001; display:block; left:0; top:0; opacity:0.97; filter: alpha(opacity = 97); background:url('images/css/Overlayer_bg.png');}
        .overLayer.blago {}
        .overLayer.contacts {top:-50px}
        .overLayer.smi {position:absolute; display:none; width:100%; left:17px;}
            .wrp-window-comment {width:504px; display:block; padding:15px 16px 12px 14px; position:absolute; z-index:1002; left:0px; top:25px; background:url('images/css/comment_bg_repeat.png') repeat-x #F2F6F8; border:1px solid #D9E7E9; box-shadow:1px 1px 2px rgba(115,143,160,0.2);  border-radius:3px;}
                .window-comment {position:relative;}
                    .window-comment .exit {width:33px; height:32px; text-decoration:none; border:none!important; background:url('images/css/buttons-pack.png') -186px -1px no-repeat; top:-32px; right:-31px; position:absolute;}
                    .window-comment .exit:hover {background:url('images/css/buttons-pack.png') -186px -44px no-repeat; text-decoration:none;}
                    .window-comment .exit:active {background:url('images/css/buttons-pack.png') -186px -87px no-repeat;}
                    .window-comment form .msg textarea {width:491px; height:116px; resize:vertical; max-height:116px; padding:11px 0 0 10px; font:14px 'Arial'; margin-bottom:16px; -webkit-box-shadow:2px 2px 1px #e8e8e8 inset; -moz-box-shadow:2px 2px 1px #e8e8e8 inset; box-shadow:2px 2px 1px #e8e8e8 inset;  border-left:1px solid #cfd6d7; border-top:1px solid #cfd6d7; border-right:1px solid #c0c8d0; border-bottom:1px solid #c0c8d0;}
                        .window-comment form .msg:hover textarea {border-left:1px solid #9bcbe9; border-top:1px solid #9bcbe9; border-right:1px solid #60b5d8; border-bottom:1px solid #60b5d8;}
                        .window-comment form .msg .active {border-left:1px solid #9bcbe9; border-top:1px solid #9bcbe9; border-right:1px solid #60b5d8; border-bottom:1px solid #60b5d8; color:#000; -webkit-box-shadow:0px 0px 7px rgba(204, 230, 240, 0.95); -moz-box-shadow:0px 0px 7px rgba(204, 230, 240, 0.95); box-shadow:0px 0px 7px rgba(204, 230, 240, 0.95);}
                        .window-comment form textarea {color:#7b848d;}
                    .window-comment form input {font:13px 'Arial'; padding-left:11px; border-left:1px solid #cfd6d7; border-top:1px solid #cfd6d7; border-right:1px solid #c0c8d0; border-bottom:1px solid #c0c8d0;}
                        .window-comment form input {color:#7b848d; -webkit-box-shadow:2px 2px 1px #e8e8e8 inset; -moz-box-shadow:2px 2px 1px #e8e8e8 inset; box-shadow:2px 2px 1px #e8e8e8 inset;}
                        .window-comment form .active {border-left:1px solid #9bcbe9; border-top:1px solid #9bcbe9; border-right:1px solid #60b5d8; border-bottom:1px solid #60b5d8; color:#000; -webkit-box-shadow:0px 0px 7px rgba(204, 230, 240, 0.95); -moz-box-shadow:0px 0px 7px rgba(204, 230, 240, 0.95); box-shadow:0px 0px 7px rgba(204, 230, 240, 0.95);}
                        .window-comment form .name {float:left; margin:0 21px 0 0;}
                        #feedback-errmsg {color:#F22; margin:8px 0 -6px 0; display:none}
                        #feedback-errors {margin-top:6px; margin-bottom:-6px; display:none}
                        #feedback-errors li {margin-top:2px; margin-bottom:0; color:#D00000}
                        #msg-loader {position:absolute; left:470px; bottom:0; display:none}
                            .window-comment form .name input {width:139px; height:22px;}
                                .window-comment form .name:hover input {border-left:1px solid #9bcbe9; border-top:1px solid #9bcbe9; border-right:1px solid #60b5d8; border-bottom:1px solid #60b5d8;}
                        .window-comment form .phone {float:right; margin:0;}
                            .window-comment form .phone input {width:139px; height:22px;}
                                .window-comment form .phone:hover input {border-left:1px solid #9bcbe9; border-top:1px solid #9bcbe9; border-right:1px solid #60b5d8; border-bottom:1px solid #60b5d8;}
                        .window-comment form .email {float:left; margin:0 23px 0 0;}
                            .window-comment form .email input {width:139px; height:22px;}
                                .window-comment form .email:hover input {border-left:1px solid #9bcbe9; border-top:1px solid #9bcbe9; border-right:1px solid #60b5d8; border-bottom:1px solid #60b5d8;}
                            .window-comment form .send {margin:13px 0 0 0px; width:148px;}
                                .window-comment form .send input {width:148px; height:35px; box-shadow:none; border:none; background:url('images/css/buttons-pack.png') -4px -2px no-repeat;}
                                .window-comment form .send:hover input {background:url('images/css/buttons-pack.png') -4px -43px no-repeat; cursor:pointer;}
                                .window-comment form .send:active input {background:url('images/css/buttons-pack.png') -4px -86px no-repeat;}
                                .window-comment form .send input:disabled {background-position:-6px -278px;}
    /* ���� ����� � overlay */
    .video-window {width:973px; display:none; position:absolute; z-index:10000; left:10px; top:-67px; margin:0 -10px; padding:26px 21px 23px 21px; background:scroll #F7FAFB url('images/css/window-video_bg.png') 0 0 repeat-x; border-left:1px solid #edf2f4; border:1px solid #D9E7E9;}
        .video-window .exit {width:33px; height:32px; border:1px solid #000; border:none!important; text-decoration:none; background:url('images/css/buttons-pack.png') -186px -1px no-repeat; top:-15px; right:-15px; position:absolute; z-index:999;}
        .video-window .exit:hover {background-position:-186px -44px}
        .video-window .exit:active {background-position:-186px -87px}
        .video-window .video-left_b {float:left; width:482px; height:358px; overflow:hidden; position:relative; background:#e7f0f5}
            .video-left_b iframe {-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:4px;}
        .video-window .wrp-text-right_b {margin-left:511px; overflow:hidden;}
            .wrp-text-right_b .scroll-pane {height:100%; overflow:scroll;}
            .video-window .text-right_b {height:100%; overflow:auto; padding-left:0px;}
                .video-window .text-right_b .padding {padding-left:10px;}
                .text-right_b h1, .wrp-text .text h1 {font:28px 'PT Sans Narrow', 'Arial Narrow', 'Arial'; color:#333; margin:0 0 4px 4px}
                .text-right_b .date, .wrp-text .text .date {font:14px 'DinDisplayPro-Reg', 'Arial Narrow', 'Arial'; color:#666666; margin-bottom:18px;}
                .text-right_b p, .wrp-text .text p {font:16px 'DinDisplayPro-Reg', 'Arial Narrow', 'Arial'; line-height:18px; color:#222; margin-bottom:12px;}
                .video-window .text-right_b .jspVerticalBar, .wrp-text .text .jspVerticalBar {right:0;}
    /* ���� ������ � overlay */
    .wrp-text {width:974px; overflow:hidden;}
        .wrp-text .scroll-pane {height:100%; overflow:scroll;}
        .wrp-text .text {height:100%; overflow:auto; padding-left:0px;}
    /* �������� */
    .contacts {margin:25px 0 20px 0; min-height:500px;}
        .wrp-karta {float:right; width:605px; margin:6px 79px 0 0; height:282px; background:url('images/css/karta_bg.png') 0 0px no-repeat;}
            .karta div {width:600px; height:277px; margin:-3px 0 0 -6px; border:1px solid #e1ddce;}
        .rekviziti {float:left; width:224px;}
            .rekviziti h5 {font:16px 'Arial'; color:#333;}
            .rekviziti .phone {position:relative; color:#000; margin-top:17px;}
                .rekviziti .phone .img {background:url('images/ico/phone.png') no-repeat; padding:0px 10px; width:23px; height:24px; position:absolute; top:3px;}
                .rekviziti .phone span {font:28px 'PFDinTextCondPro-b', 'Arial Narrow', 'Arial'; padding-left:27px;}
                .rekviziti .phone .remark {font:12px 'Arial'; color:#333; margin:2px 0 13px 0;}
            .rekviziti .email {font:14px 'Arial'; color:#434343; margin-bottom:22px;}
                .rekviziti .email a {color:#333;}

    /* ���������� */
    .bf_body { padding-bottom:78px;}
        .goda_block {width:269px; max-height:244px; float:left; padding:22px 48px 0 19px; font-size:12px; background:url('images/css/goda_block-bg.png') no-repeat;}
            .wrp-goda_block_scroll {width:332px; max-height:261px; border:1px solid #dde4e8; background:#FFF; float:left; position:relative;}
                .wrp-goda_block_scroll.one {border:none; max-height:244px!important; width:346px!important;}
                .wrp-goda_block_scroll .fade {position:absolute; width:322px; height:23px; bottom:0; left:0; z-index:99999; background:url('images/css/goda_block_overlay.png') repeat-x 0 0;}
                .wrp-goda_block_scroll .scroll-pane {position:relative; z-index:1; overflow:hidden; max-height:261px;}
                    .goda_block_scroll {width:290px; padding:17px 23px 8px 19px; font-size:12px;}
                        .goda_block_scroll p {margin-bottom:12px;}

		.bf_body h1 {font:28px Georgia, 'Arial'; margin-bottom:25px;}
        .bf_body .lemma {font-size:16px; margin-left:388px;padding-right:5px; color:#000;}
		.text-bio p { line-height:1.5; }
		.text-bio h4 { font-size:1.1em; line-height:1.3; width: 96%; font-family: Georgia, Arial;}

		.img-bio-1 {	background:url('images/css/story1.jpg') no-repeat;}
		.img-bio-2 {	background:url('images/css/story2.jpg') no-repeat;}
		.img-bio-3 {	background:url('images/css/story3.jpg') no-repeat;}
		.img-bio-4 {	background:url('images/css/story4.jpg') no-repeat;}

		.section-bio {overflow:hidden;}
		.imageHolder {
			display: block;
			text-align: center;
			z-index: 80;
			position: relative;
			height: 600px;
			overflow: hidden;
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
		.text-bio {
			font-size:16px;
			line-height:1.5;
			overflow:hidden;
			margin:0 auto;
			padding: 30px 10px 30px 10px;
			width:1000px;
		}

       #section-bio4 td {vertical-align:top; }
       #section-bio4 td p {text-align:justify; width:90%; font-size:16px;}

    /* ������ */
    .wrp_article {margin-top:18px; padding-bottom:5px;}
        .right_float_article {float:right;}
        .like_records {width:278px; margin-bottom:30px;}
            .like_records h3 {margin:0 0 1px 0; color:#000; font:20px 'PT Sans Narrow', 'Arial Narrow', 'Arial'; text-transform:uppercase;}
            .like_records span {color:#000; font:20px 'PT Sans Narrow', 'Arial Narrow', 'Arial';}
                .like_records span a {color:#718c4f;}
            .like_records ul {margin:14px 0 0 0; list-style:none;}
                .like_records li {font:15px 'Arial'; margin-bottom:12px;}
                    .like_records li a {color:#33a0cd;}
        .left_float_article {float:left; width:682px; margin-bottom:50px;}
        .article {width:682px; background:url('images/css/article-text_border-bottom.png') 0 bottom repeat-x; padding-bottom:26px; font-size:14px;}
            .article .date {font:14px 'Arial Narrow', 'Arial'; color:#7b848d; margin-bottom:10px;}
            .wrp_substrate {width:680px; margin:0 0 18px 2px;}
                .wrp_substrate .top {background:url('images/css/substrate_top.png') no-repeat; width:680px; height:8px;}
                .wrp_substrate .substrate {width:669px; padding:6px 0 7px 11px; overflow:hidden; background:url('images/css/substrate_center.png');}
                     .wrp_substrate .substrate dt {width:55px; height:62px; background:url('images/css/substrate_owner.png') no-repeat; float:left;}
                    .wrp_substrate .substrate dd {width:518px; margin-left:80px; font:16px 'Arial';}
                .wrp_substrate .bottom {background:url('images/css/substrate_bottom.png') no-repeat; width:680px; height:9px;}
            .article_text {margin-top:17px;}
                .article_text p {font:14px 'Arial'; color:#333; line-height:20px;}
                .article_text .tag {margin:5px 0 47px 0;}
                    .article_text .tag img {float:left; margin-top:2px;}
                    .article_text .tag a {padding-left:4px; color:#7b848d; font:11px 'Arial';}
        /* ����������� � ������ */
        .wrp-artic-comment {width:651px; margin:4px 0 21px 0; padding:15px 16px 17px 14px; background:url('images/css/artic-comment_bg.png') no-repeat;}
                .artic-comment {position:relative;}
                    .artic-comment form .msg {width:497px; height:116px; margin-bottom:32px;}
                        .artic-comment form .msg textarea {width:497px; height:116px; resize:vertical; max-height:116px; padding:11px 0 0 10px; font:14px 'Arial'; margin-bottom:16px; -webkit-box-shadow:2px 2px 1px #e8e8e8 inset; -moz-box-shadow:2px 2px 1px #e8e8e8 inset; box-shadow:2px 2px 1px #e8e8e8 inset;  border-left:1px solid #cfd6d7; border-top:1px solid #cfd6d7; border-right:1px solid #c0c8d0; border-bottom:1px solid #c0c8d0;}
                            .artic-comment form .msg:hover textarea {border-left:1px solid #9bcbe9; border-top:1px solid #9bcbe9; border-right:1px solid #60b5d8; border-bottom:1px solid #60b5d8;}
                            .artic-comment form .msg .active {border-left:1px solid #9bcbe9; border-top:1px solid #9bcbe9; border-right:1px solid #60b5d8; border-bottom:1px solid #60b5d8; color:#000; -webkit-box-shadow:0px 0px 7px rgba(204, 230, 240, 0.95); -moz-box-shadow:0px 0px 7px rgba(204, 230, 240, 0.95); box-shadow:0px 0px 7px rgba(204, 230, 240, 0.95);}
                        .artic-comment form textarea {color:#7b848d;}
                    .artic-comment form input {font:13px 'Arial'; padding-left:11px; border-left:1px solid #cfd6d7; border-top:1px solid #cfd6d7; border-right:1px solid #c0c8d0; border-bottom:1px solid #c0c8d0;}
                        .artic-comment form input {color:#7b848d; -webkit-box-shadow:2px 2px 1px #e8e8e8 inset; -moz-box-shadow:2px 2px 1px #e8e8e8 inset; box-shadow:2px 2px 1px #e8e8e8 inset;}
                        .artic-comment form .active {border-left:1px solid #9bcbe9; border-top:1px solid #9bcbe9; border-right:1px solid #60b5d8; border-bottom:1px solid #60b5d8; color:#000;  -webkit-box-shadow:0px 0px 7px rgba(204, 230, 240, 0.95); -moz-box-shadow:0px 0px 7px rgba(204, 230, 240, 0.95); box-shadow:0px 0px 7px rgba(204, 230, 240, 0.95);}
                            .artic-comment form .name input {width:231px; height:22px; float:left; margin-right:23px;}
                                .artic-comment form .name:hover input {border-left:1px solid #9bcbe9; border-top:1px solid #9bcbe9; border-right:1px solid #60b5d8; border-bottom:1px solid #60b5d8;}
                            .artic-comment form .email input {width:230px; height:22px;}
                                .artic-comment form .email:hover input {border-left:1px solid #9bcbe9; border-top:1px solid #9bcbe9; border-right:1px solid #60b5d8; border-bottom:1px solid #60b5d8;}
                            .artic-comment form .send {margin:13px 0 0 0px; width:148px;}
                                .artic-comment form .send input {width:148px; height:35px; box-shadow:none; border:none; background:url('images/css/buttons-pack.png') -4px -2px no-repeat;}
                                .artic-comment form .send:hover input {background:url('images/css/buttons-pack.png') -4px -43px no-repeat; cursor:pointer;}
                                .artic-comment form .send:active input {background:url('images/css/buttons-pack.png') -4px -86px no-repeat;}
    /* 404 */
    .not_found {width:365px; height:187px; margin:66px auto 0 auto;}
        .not_found .img {background:url('images/css/404.png') 50% 0 no-repeat; width:184px; height:96px; margin:0 auto;}
        .not_found .message {font-size:20px;}
            .not_found .message h1 {font-size:36px; color:#000; margin:20px 0 11px 0; text-align:center;}
            .not_found .message .back {margin-left:4px;}
            .not_found .message .back span {font-size:20px;}
            .not_found .message .back a {color:#1d89ba; text-decoration:none; border-bottom:2px solid #1d89ba;}
            .not_found .message .back a:hover {border:none; color:#22a7e3;}

/*  ������!  */
    .footer {position:absolute; z-index:1002; bottom:0px; overflow:hidden; width:100%;height:78px; background:url('images/css/footer-bg.png') repeat-x;}
        .footer .wrap {padding-top:31px;}
            .vendor {float:right; width:235px; margin-top:5px; text-align:right; font:13px 'PT Sans Narrow', 'Arial Narrow', 'Arial';}
                .vendor a {color:#1572c6;}
            .footer-menu {font:14px 'PT Sans Narrow', 'Arial Narrow', 'Arial'; margin:0;}
				.menu-footer-container { float:left;  overflow:hidden;  height:80px;}
                .footer-menu li { margin-right:20px;padding:0; line-height:1.3;}
				.footer-menu li  {display: -moz-inline-box; display: inline-block; zoom: 1; *display: inline;	}
                    .footer-menu a {color:#54a5d4; text-decoration:none; border-bottom:1px solid #8ec4dc;}
					.footer-menu li.current-menu-item a,.footer-menu li.current-menu-parent a {color:#1d8aba; border-bottom:1px solid #8ec4dc; }
                    .footer-menu ul li a:hover {text-decoration:none;}
/* end  ������!  */